@import 'theme';

h1 {
    margin: 1em auto 0;
    text-align: center;
    font-size: 2.5em;
    border-bottom: double 4px $acce-color1;
}

.circlecut {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    li {
        list-style: none;
        margin: 2em 1em;
        max-width: 720px;
        width: 90%;
        min-width: 600px;
    }

    .decsription{
        margin: 0 1em;
    }
}