@import 'theme';

.menue {
    display: flex;
    justify-content: space-between;
    height: 120px;
    margin: 0px 0px 10px 0px;
    padding: 10px 10px;
}

.menue_logo {
    height: 100%;
    width: min(400px, 30vw);
}

.menue ul {
    width: 100%;
    max-width: 1000px;
    margin: 0;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

    li{
        position: relative;  
    }

    a {
        font-size: 17px;
        font-family: $sans;
        letter-spacing: 0.08em;
        
        text-decoration: none;
    }

    a:hover {
        color: $acce-color1;
    }

    a::after {
        position: absolute;
        left: -10%;
        bottom: -5px;
        content: "";
        width: 120%;
        height: 1px;
        background: $acce-color1;
        border-radius: 3px;
        transform: rotate(-3deg);
    }
}